@font-face{
    font-family: 'Artifex';
    src: url('../font/ArtifexCF-Regular.otf') format('opentype');
}

@font-face{
    font-family: 'Leo Rounded';
    src: url('../font/LeoRoundedPro.otf') format('opentype');
}