// TYPO
$leo: 'Leo Rounded';
$artifex: 'Artifex';
$nunito: 'Nunito';

// TAILLES TYPO
$XS: 12px;
$S: 16px;
$M: 18px;
$L: 20px;
$XL: 50px;

// GRAISSES TYPO
$w1: 100;
$w2: 300;
$w3: 500;
$w4: 700;
$w5: 900;

// COULEURS
$c1: #FEFBF6;
$c2: #FEEDD1;
$c3: #2808A4;
$c4: #FFA971;
$c5: #191103;

// MARGES & TAILLES
$m1: 30px;
$m2: 50px;
$m3: 70px;
$m4: 80px;
$m5: 90px;
$m6: 130px;
$m7: 180px;
$m8: 220px;

// RESPONSIVE
$tablette: 1000px;
$mobile: 750px;